@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --cor-primaria: #333;
  --cor-secundaria: #f5f5f5;
  --font-app: "Montserrat", Arial, sans-serif;
}

body {
  display: grid;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  font-family: var(--font-app);
  font-weight: 400;
  padding: 5rem;
}


/* 4. Elementos HTML */
h1, h2, h3 {
  color: #f5f5f5;
  font-weight: 600;
}

p {
  line-height: 1.6;
}

main {
  display: grid;
  align-items: center;
  max-width: 500px;
  background-color:rgba(50, 50, 50, 0.5) ;
  /*filter: blur(0.2rem);*/
  border-radius: 20px;
  margin: 0 auto;
  padding: 3rem 5rem 3rem 5rem;
}




.nova-tarefa {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center; 
    padding: 2rem;
}

#novaT{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 153, 214);
    padding: 0.8rem;
}
